.article{
    margin:10% 20%;
}
@keyframes slideup {
    from { 
      opacity: 0.5;
      transform: translate(0px, 10px);
    }
    90% {
      transform: translate(0px, -1px);
    }
    to {
      opacity: 1;
      transform: translate(0px, 0px);
    }
  }

.toolbar{
    background-color: #e8eef1;
    animation: slideup 0.1s;
    width: 100px;
    height: 30px;
    display: flex;
    border-radius: 12px;
    border-bottom: 2px solid black;
    position: absolute;
    justify-content: center;
    align-items: center;
    user-select: none;

}
.tooltip-item{
    display: inline-block; 
    height: 1rem;
    border: 1px solid black;
    border-radius: 50%;
    padding: 3px;
    background-color: rgb(255, 255, 255);
}
.tooltip-item:hover{
    cursor: pointer;
    background: linear-gradient( rgb(214, 214, 214), rgb(255, 255, 255)) ;
}
.tooltip-item img{
    width: 0.9rem;
    height: 0.9rem;
}
.toolbar_triangle {
    width: 0; 
    height: 0; 
    position: absolute;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid black;
  }